
.outer-pag{
    height: 50px;
    background-color: cadetblue;
  width: 50%;
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -50%);
  border-radius: 100px;
}

.pagination{
    display: flex;
    justify-content: center;

}


.page-item{
    list-style: none;
    padding: 1px 5px;
    text-decoration: none;
    height: 20px;
    width: 12px;
   border: 3px solid gray;
   margin-left: 7px;
   margin-right: 7px;
   font-weight: bold;
   margin-top: -5px;
    

}
a{
    text-decoration: none;
    color: #fff;
}